<header>
  <div class="flex-container">
    <h1 class="title">{{title}}</h1>
    <h4 class="email" *ngIf="userLogged">{{userEmail}}</h4>
    <h4 class="text-btn" *ngIf="userLogged" (click)="onLogout()">LOGOUT</h4> 
  </div>
  <div class="flex-container">
    <app-button class="add-btn"
      *ngIf="hasRoute('/')"
      color="{{showAddTask ? 'red' : 'green'}}"
      text="{{showAddTask ? 'CLOSE' : 'ADD'}}"
      (btnClick)="toggleAddTask()"
    ></app-button>
    <app-sort-menu></app-sort-menu>
  </div>
</header>
