header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.text-btn {
  color: white;
  cursor: pointer;
}

.text-btn:hover {
  color: red;
}