.navbar {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.title {
  white-space: nowrap;
}

.add-btn.pressed {
  background-color: red;
}

.mini-profile {
  display: flex;
  flex-direction: column;
  align-items: end;
}


.log-out-btn:hover {
  color: red;
}
