.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.add-btn.pressed {
  background-color: red;
}

.mini-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.email {
  font-size: large;
}


.log-out-btn:hover {
  color: red;
}
