.menu {
  display: flex;
  flex-direction: column;
  transform: translate(10px);
}

.option {
  cursor: pointer;
  font-size: 15px;
  color: #c5c5c5;
}

.option:hover {
  color: red;
}

.menu-btn {
  width: fit-content;
  background: transparent;
  color: #fff;
  border: none;
  padding: 5px 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}