<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">ADD TASK</label>
    <input type="text" name="title" [(ngModel)]="title" id="title" placeholder="Title">
  </div>
  <div class="form-control">
    <input type="text" name="details" [(ngModel)]="details" id="details" placeholder="Details">
  </div>
  <div class="form-control form-control-check">
    <label for="text">SET COMPLETED</label>
    <input type="checkbox" name="completed" [(ngModel)]="completed">
  </div>
  <input type="submit" value="SAVE" class="btn btn-block">
</form>