<form (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="email">EMAIL:</label>
    <input type="email" [(ngModel)]="email" id="email" name="email" required
    placeholder="EMAIL">
  </div>
  <div class="form-control">
    <label for="password">PASSWORD:</label>
    <input type="password" [(ngModel)]="password" id="password" name="password" required
    placeholder="PASSWORD">
  </div>
  <input type="submit" value="LOGIN" class="btn btn-block">
  <button class="btn btn-block" routerLink="/register" value="REGISTER">REGISTER</button>
</form>